nav{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 15px;
    border-radius: 40px;
    background-color: gray;
    margin: 20px auto;
    a{
        text-decoration: none;
        text-transform: uppercase;
        color: #FFF;
        padding: 10px;
        border-radius: 40px;
    }
}

.header{
    position: fixed;
    top: 0;
    left: 52%;

    transform: translateX(-48%);
}